* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
    "header"
    "filter"
    "main"
    "footer";
    max-height: 100vh;
}

.header {
    background-color: #1A1D1A;
    grid-area: header;
    padding: 30px 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    min-height: 2vh;
}
.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.menu-desktop {
    display: none;
}

.filter {
    background-color: lightgray /*#2D848A */;
    grid-area: filter;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.casilla {
    width: 95%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.main {
    background-color: white;
    grid-area: main;
    min-height: 80vh;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.container-img {
    background: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid lightgray;
    border-radius: 5px;
    padding: 60px 30px 0 30px;
}
.img-car {
    width: 250px;
    border-radius: 2%;
    padding-bottom: 50px;
}

.hind {
    display: none;
}

.button {
    width: 30%;
    padding: 13px 0px;
    margin: 5px 0 15px 0;
    background-color: rgb(9, 42, 173);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.main-number {
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    color: black;
    margin-bottom: 30px;
    border: 0.5px solid lightgray;
}

.footer {
    background-color: #FFB521;
    grid-area: footer;
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #1A1D1A;
}

@media (min-width: 576px) {
    .container {
        background-color: #88CCF1;
        grid-template-areas:
        "header filter"
        "header main"
        "footer main";
        grid-template-columns: 200px 1fr;
    }

    .header {
        min-height: 80vh;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .menu-desktop {
        display: flex;
    }
    .menu-desktop > ul {
        list-style: none;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .menu-desktop > ul > li > a {
        text-decoration: none;
        color: white;
    }

    .burger-menu {
        display: none;
    }

    .main {
        padding: 0 20px 20px 20px;
    }

    .hind {
        display: contents;
    }

    .main-content {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .footer {
        background-color: #FFB521;
    }
    .footer > div {
        display: flex;
        gap: 20px;
    }
    .footer > p {
        text-align: center;
        padding-top: 20px;
    }
}